// Common stlyes, sizes, etc will be defined here to allow for re-use

// Colors


// Spacing

$s-size: 1.2rem;
$medium-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$small-device-breakpoint: 32rem;
